kestra/automations/analisis-credito/flows/consulta_quiebra_credix.yaml
id: consulta_quiebra_credix
namespace: redunisol

description: Consulta CredixSA, refresca datos online cuando corresponde y devuelve el informe disponible por secciones.

labels:
  env: prod
  team: redunisol
  kind: webhook
  domain: analisis-credito
  integration: credixsa

tasks:
  - id: preparar_cache
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install kestra > /dev/null
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
    commands:
      - python -m consulta_quiebra_credix.cache_lookup_entrypoint

  - id: leer_cache_cuil
    type: io.kestra.plugin.core.kv.Get
    key: "{{ outputs.preparar_cache.vars.cuil_cache_lookup_key }}"
    errorOnMissing: false

  - id: leer_cache_nombre
    type: io.kestra.plugin.core.kv.Get
    key: "{{ outputs.preparar_cache.vars.name_cache_lookup_key }}"
    errorOnMissing: false

  - id: consultar_quiebra
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: mcr.microsoft.com/playwright/python:v1.58.0-noble
    beforeCommands:
      - pip install kestra playwright==1.58.0 > /dev/null
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
      CREDIX_LOGIN_URL: "https://www.credixsa.com/nuevo/login.php"
      CREDIX_TIMEOUT_SECONDS: "30"
      CREDIX_DEBUG: "false"
      CREDIX_CLIENTE: "{{ secret('CREDIX_CLIENTE') }}"
      CREDIX_USER: "{{ secret('CREDIX_USER') }}"
      CREDIX_PASS: "{{ secret('CREDIX_PASS') }}"
      CREDIX_CACHE_BY_CUIL_JSON: "{{ (outputs.leer_cache_cuil.value ?? null) | json }}"
      CREDIX_CACHE_BY_NAME_JSON: "{{ (outputs.leer_cache_nombre.value ?? null) | json }}"
      CREDIX_CACHE_MAX_AGE_DAYS: "7"
    commands:
      - python -m consulta_quiebra_credix.kestra_webhook_entrypoint

  - id: guardar_cache_cuil
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.consultar_quiebra.vars.cuil_cache_should_persist }}"
    key: "{{ outputs.consultar_quiebra.vars.cuil_cache_key }}"
    value: "{{ outputs.consultar_quiebra.vars.cache_value_json }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.consultar_quiebra.vars.cache_ttl }}"

  - id: guardar_cache_nombre
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.consultar_quiebra.vars.name_cache_should_persist }}"
    key: "{{ outputs.consultar_quiebra.vars.name_cache_key }}"
    value: "{{ outputs.consultar_quiebra.vars.cache_value_json }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.consultar_quiebra.vars.cache_ttl }}"

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.consultar_quiebra.vars.ok }}"
  - id: status
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.status }}"
  - id: cuit
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.cuit }}"
  - id: nombre
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.nombre }}"
  - id: rows_json
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.rows_json }}"
  - id: data_json
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.data_json }}"
  - id: response_json
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.response_json }}"
  - id: error
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.error }}"
  - id: cache_hit
    type: BOOLEAN
    value: "{{ outputs.consultar_quiebra.vars.cache_hit }}"
  - id: cached_at
    type: STRING
    value: "{{ outputs.consultar_quiebra.vars.cached_at }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('ANALISIS_CREDITO_QUIEBRA_WEBHOOK_KEY') }}"
    wait: true
    returnOutputs: true
    responseContentType: application/json
