kestra/automations/analisis-credito/flows/consulta_quiebra_credix.yaml
id: consulta_quiebra_credix
namespace: redunisol

description: Consulta CredixSA, refresca datos online cuando corresponde y devuelve el informe disponible por secciones.

labels:
  env: prod
  team: redunisol
  kind: webhook
  domain: analisis-credito
  integration: credixsa

tasks:
  - id: preparar_cache
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
    containerImage: ghcr.io/kestra-io/kestrapy:latest
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
    commands:
      - python -m consulta_quiebra_credix.cache_lookup_entrypoint

  - id: leer_cache_cuil
    type: io.kestra.plugin.core.kv.Get
    key: "{{ outputs.preparar_cache.vars.cuil_cache_lookup_key }}"
    errorOnMissing: false

  - id: leer_cache_nombre
    type: io.kestra.plugin.core.kv.Get
    key: "{{ outputs.preparar_cache.vars.name_cache_lookup_key }}"
    errorOnMissing: false

  - id: responder_cache
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
    containerImage: ghcr.io/kestra-io/kestrapy:latest
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
      CREDIX_CACHE_BY_CUIL_JSON: "{{ (outputs.leer_cache_cuil.value ?? null) | json }}"
      CREDIX_CACHE_BY_NAME_JSON: "{{ (outputs.leer_cache_nombre.value ?? null) | json }}"
      CREDIX_CACHE_MAX_AGE_DAYS: "7"
    commands:
      - python -m consulta_quiebra_credix.cache_response_entrypoint

  - id: consultar_quiebra
    type: io.kestra.plugin.scripts.python.Commands
    runIf: "{{ outputs.responder_cache.vars.cache_hit == false }}"
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      volumes:
        - /opt/kestra/data/credixsa-cache:/data/credixsa-cache
    containerImage: mcr.microsoft.com/playwright/python:v1.58.0-noble
    beforeCommands:
      - pip install kestra playwright==1.58.0 > /dev/null
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
      CREDIX_LOGIN_URL: "https://www.credixsa.com/nuevo/login.php"
      CREDIX_TIMEOUT_SECONDS: "30"
      CREDIX_DEBUG: "{{ envs.credix_debug ?? 'false' }}"
      CREDIX_DEBUG_DIR: "/data/credixsa-cache/debug"
      CREDIX_CLIENTE: "{{ secret('CREDIX_CLIENTE') }}"
      CREDIX_USER: "{{ secret('CREDIX_USER') }}"
      CREDIX_PASS: "{{ secret('CREDIX_PASS') }}"
      CREDIX_CACHE_BY_CUIL_JSON: "{{ (outputs.leer_cache_cuil.value ?? null) | json }}"
      CREDIX_CACHE_BY_NAME_JSON: "{{ (outputs.leer_cache_nombre.value ?? null) | json }}"
      CREDIX_CACHE_MAX_AGE_DAYS: "7"
      CREDIX_CACHE_SQLITE_PATH: "/data/credixsa-cache/credixsa.sqlite"
    commands:
      - python -m consulta_quiebra_credix.kestra_webhook_entrypoint

  - id: guardar_cache_cuil
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ (outputs.consultar_quiebra is defined) and outputs.consultar_quiebra.vars.cuil_cache_should_persist }}"
    key: "{{ outputs.consultar_quiebra.vars.cuil_cache_key }}"
    value: "{{ outputs.consultar_quiebra.vars.cache_value_json }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.consultar_quiebra.vars.cache_ttl }}"

  - id: guardar_cache_nombre
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ (outputs.consultar_quiebra is defined) and outputs.consultar_quiebra.vars.name_cache_should_persist }}"
    key: "{{ outputs.consultar_quiebra.vars.name_cache_key }}"
    value: "{{ outputs.consultar_quiebra.vars.cache_value_json }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.consultar_quiebra.vars.cache_ttl }}"

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.ok : outputs.responder_cache.vars.ok }}"
  - id: status
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.status : outputs.responder_cache.vars.status }}"
  - id: cuit
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.cuit : outputs.responder_cache.vars.cuit }}"
  - id: nombre
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.nombre : outputs.responder_cache.vars.nombre }}"
  - id: rows_json
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.rows_json : outputs.responder_cache.vars.rows_json }}"
  - id: data_json
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.data_json : outputs.responder_cache.vars.data_json }}"
  - id: normalized_json
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.normalized_json : outputs.responder_cache.vars.normalized_json }}"
  - id: response_json
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.response_json : outputs.responder_cache.vars.response_json }}"
  - id: error
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.error : outputs.responder_cache.vars.error }}"
  - id: cache_hit
    type: BOOLEAN
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.cache_hit : outputs.responder_cache.vars.cache_hit }}"
  - id: cached_at
    type: STRING
    value: "{{ (outputs.consultar_quiebra is defined) ? outputs.consultar_quiebra.vars.cached_at : outputs.responder_cache.vars.cached_at }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('ANALISIS_CREDITO_QUIEBRA_WEBHOOK_KEY') }}"
    wait: true
    returnOutputs: true
    responseContentType: application/json
