kestra/automations/analisis-credito/flows/consulta_credixsa_cache_warmup.yaml
id: consulta_credixsa_cache_warmup
namespace: redunisol

description: Precalienta cache de CredixSA para solicitudes del dia en el core financiero.

retry:
  type: constant
  interval: PT1M
  maxAttempts: 3
  behavior: CREATE_NEW_EXECUTION

concurrency:
  limit: 1
  behavior: QUEUE

labels:
  env: prod
  team: redunisol
  kind: scheduled
  schedule_scope: prod_only
  domain: analisis-credito
  integration: credixsa

tasks:
  - id: leer_indice_diario
    type: io.kestra.plugin.core.kv.Get
    key: credixsa.daily.index
    errorOnMissing: false

  - id: precalentar_cache
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - consulta_quiebra_credix/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: mcr.microsoft.com/playwright/python:v1.58.0-noble
    beforeCommands:
      - pip install kestra requests urllib3 playwright==1.58.0 > /dev/null
    env:
      CREDIX_DAILY_INDEX_JSON: "{{ (outputs.leer_indice_diario.value ?? null) | json }}"
      CREDIX_LOGIN_URL: "https://www.credixsa.com/nuevo/login.php"
      CREDIX_TIMEOUT_SECONDS: "90"
      CREDIX_DEBUG: "false"
      CREDIX_CLIENTE: "{{ secret('CREDIX_CLIENTE') }}"
      CREDIX_USER: "{{ secret('CREDIX_USER') }}"
      CREDIX_PASS: "{{ secret('CREDIX_PASS') }}"
      CREDIX_WARMUP_MAX_PER_RUN: "{{ envs.credixsa_warmup_max_per_run ?? '5' }}"
      CREDIX_WARMUP_CORE_MAX_ROWS: "{{ envs.credixsa_warmup_core_max_rows ?? '1000' }}"
      CREDIX_WARMUP_RETRY_ATTEMPTS: "{{ envs.credixsa_warmup_retry_attempts ?? '2' }}"
      VIMARX_EVAL_BASE_URL: "{{ secret('DEVEXPRESS_EVALUATE_API_BASE_URL') }}"
      VIMARX_TIMEOUT_SECONDS: "{{ envs.vimarx_timeout_seconds }}"
      VIMARX_VERIFY_TLS: "{{ envs.vimarx_verify_tls }}"
      LOCAL_TZ: "{{ envs.local_tz ?? 'America/Argentina/Buenos_Aires' }}"
    commands:
      - python -m consulta_quiebra_credix.warmup_entrypoint

  - id: guardar_indice_diario
    type: io.kestra.plugin.core.kv.Set
    key: credixsa.daily.index
    value: "{{ outputs.precalentar_cache.vars.daily_index_json }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.daily_index_ttl }}"

  - id: guardar_cache_1
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_1_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_1_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_1_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_1_ttl }}"

  - id: guardar_cache_2
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_2_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_2_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_2_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_2_ttl }}"

  - id: guardar_cache_3
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_3_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_3_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_3_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_3_ttl }}"

  - id: guardar_cache_4
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_4_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_4_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_4_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_4_ttl }}"

  - id: guardar_cache_5
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_5_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_5_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_5_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_5_ttl }}"

  - id: guardar_cache_6
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_6_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_6_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_6_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_6_ttl }}"

  - id: guardar_cache_7
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_7_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_7_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_7_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_7_ttl }}"

  - id: guardar_cache_8
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_8_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_8_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_8_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_8_ttl }}"

  - id: guardar_cache_9
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_9_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_9_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_9_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_9_ttl }}"

  - id: guardar_cache_10
    type: io.kestra.plugin.core.kv.Set
    runIf: "{{ outputs.precalentar_cache.vars.cache_entry_10_enabled }}"
    key: "{{ outputs.precalentar_cache.vars.cache_entry_10_key }}"
    value: "{{ outputs.precalentar_cache.vars.cache_entry_10_value }}"
    kvType: JSON
    overwrite: true
    ttl: "{{ outputs.precalentar_cache.vars.cache_entry_10_ttl }}"

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.precalentar_cache.vars.ok }}"
  - id: solicitudes_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.solicitudes_count }}"
  - id: candidate_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.candidate_count }}"
  - id: processed_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.processed_count }}"
  - id: skipped_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.skipped_count }}"
  - id: error_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.error_count }}"
  - id: cache_entry_count
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.cache_entry_count }}"
  - id: error
    type: STRING
    value: "{{ outputs.precalentar_cache.vars.error }}"

triggers:
  - id: cada_minuto
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "* * * * *"
