kestra/automations/cobranzas/flows/bitrix_crm_negociaciones_scheduler.yaml
id: bitrix_crm_negociaciones_scheduler
namespace: redunisol

description: Recorre pendientes del embudo de negociaciones en KV y ejecuta las acciones vencidas, revalidando el deal antes de actuar.

labels:
  env: prod
  team: redunisol
  kind: scheduler
  domain: cobranzas
  integration: bitrix24

tasks:
  - id: listar_pendientes
    type: io.kestra.plugin.core.kv.GetKeys
    prefix: bitrix_crm_negociaciones/

  - id: recorrer_pendientes
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.listar_pendientes.keys }}"
    concurrencyLimit: 1
    tasks:
      - id: leer_accion
        type: io.kestra.plugin.core.kv.Get
        key: "{{ taskrun.value }}"
        errorOnMissing: false

      - id: leer_dependencia
        type: io.kestra.plugin.core.kv.Get
        runIf: "{{ outputs.leer_accion.value != null and outputs.leer_accion.value.depends_on_key != null and outputs.leer_accion.value.depends_on_key != '' }}"
        key: "{{ outputs.leer_accion.value.depends_on_key }}"
        errorOnMissing: false

      - id: procesar_pendiente
        type: io.kestra.plugin.scripts.python.Commands
        namespaceFiles:
          enabled: true
          include:
            - bitrix_crm_negociaciones/**
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/pydata:latest
        beforeCommands:
          - pip install kestra requests > /dev/null
        env:
          ACTION_JSON: "{{ outputs.leer_accion.value | json }}"
          DEPENDENCY_JSON: "{{ outputs.leer_dependencia.value | json }}"
          BITRIX24_BASE_URL: "{{ envs.bitrix24_base_url }}"
          BITRIX24_TIMEOUT_SECONDS: "{{ envs.bitrix24_timeout_seconds }}"
          BITRIX24_WEBHOOK_PATH: "{{ secret('BITRIX24_WEBHOOK_PATH') }}"
          PROMISE_AMOUNT_FIELD: "{{ envs.bitrix24_promesa_amount_field }}"
          EDNA_API_KEY: "{{ secret('EDNA_API_KEY') }}"
          EDNA_URL: "{{ envs.edna_url }}"
          EDNA_SENDER: "{{ envs.edna_sender }}"
          EDNA_TIMEOUT_SECONDS: "{{ envs.edna_timeout_seconds }}"
          LOCAL_TZ: "{{ envs.local_tz }}"
        commands:
          - python -m bitrix_crm_negociaciones.kestra_pending_entrypoint

      - id: actualizar_accion
        type: io.kestra.plugin.core.kv.Set
        runIf: "{{ outputs.procesar_pendiente.vars.should_update }}"
        key: "{{ outputs.procesar_pendiente.vars.action_key }}"
        value: "{{ outputs.procesar_pendiente.vars.updated_action_json }}"
        kvType: JSON
        overwrite: true
        ttl: "{{ outputs.procesar_pendiente.vars.action_ttl }}"

triggers:
  - id: every_five_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/5 * * * *"
    timezone: America/Argentina/Buenos_Aires
